.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__title {
  margin: 0;
  line-height: 29px;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 900;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/Vectorheart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 620px) {
  .card {
    margin-top: 0px;
  }

  .card__list {
    padding-top: 36px;
  }
}
