.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 19px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
}

.modal__image-container {
  position: relative;
  margin: auto;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.modal__close {
  background-image: url("../images/Close.Icon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  color: black;
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  margin: 34px 64px 54px 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-input {
  height: 27.26px;
  width: 100%;
  border-style: none none solid none;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  margin-bottom: 29.74px;
  padding: 0;
}

.modal__form-input:invalid {
  border: none;
  border-bottom: 1px solid red;
  margin: 0;
}

.modal__form-input:last-of-type {
  margin-bottom: 0;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 36px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__button_disabled {
  background-color: rgba(255, 255, 255, 1);
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  opacity: 20%;
}

.modal__error_visible {
  width: 358px;
  height: 44px;
  top: 408px;
  left: 107px;
  border: 1px;
  color: red;
  opacity: 1;
}

@media screen and (max-width: 635px) {
  .modal__container {
    height: 322px;
    width: 282px;
  }
  .modal__form-input {
    height: 27px;
  }

  .modal__button {
    height: 46px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 0;
  }
}
