<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the U.S.</title>
    <meta name="keywords" content="around the us" />
    <meta name="description" content="scenic views of the us, explore" />
    <meta name="author" content="Rebecca Bindraban" />
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/Around-light.svg')%>"
          alt="around the world logo"
          class="header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <div class="profile__image-container">
            <img
              src="<%= require('./images/jacques-cousteau.jpg')%>"
              alt="avatar"
              class="profile__image"
            />
            <div class="profile__image-overlay" type="button"></div>
          </div>
          <div class="profile__info">
            <h1 class="profile__title"></h1>
            <button
              aria-label="edit"
              type="button"
              class="profile__edit-button"
              id="profile-edit-button"
            ></button>
            <p class="profile__description"></p>
          </div>
          <button
            aria-label="add"
            type="button"
            class="profile__add-button"
          ></button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">© 2023 Around the U.S.</p>
      </footer>
    </div>
    <!--Profile Edit Modal-->
    <div class="modal" id="profile-edit-modal">
      <div class="modal__container">
        <button
          class="modal__close"
          type="button"
          id="modal-close-button"
        ></button>
        <h2 class="modal__heading">Edit Profile</h2>
        <form class="modal__form" id="profile-edit-form">
          <input
            class="modal__form-input"
            type="text"
            name="name"
            id="profile-title-input"
            placeholder="Name"
            minlength="2"
            maxlength="40"
            required
          />
          <span class="modal__error" id="profile-title-input-error"></span>
          <input
            class="modal__form-input"
            type="text"
            name="description"
            id="profile-description-input"
            placeholder="Description"
            minlength="2"
            maxlength="200"
            required
          />
          <span
            class="modal__error"
            id="profile-description-input-error"
          ></span>
          <button
            class="modal__button modal__button_disabled"
            type="submit"
            disabled
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <!--Add Card Modal-->
    <div class="modal" id="profile-add-modal">
      <div class="modal__container">
        <button
          class="modal__close"
          type="button"
          id="add-modal-close-button"
        ></button>
        <h2 class="modal__heading">New Place</h2>
        <form class="modal__form" id="add-card-modal">
          <input
            class="modal__form-input"
            type="text"
            name="name"
            id="name"
            placeholder="Title"
            minlength="2"
            maxlength="30"
            required
          />
          <span class="modal__error" id="name-error"></span>
          <input
            class="modal__form-input"
            type="url"
            name="link"
            id="url"
            placeholder="Image URL"
            required
          />
          <span class="modal__error" id="url-error"></span>
          <button
            class="modal__button modal__button_disabled"
            type="submit"
            disabled
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <!--Preview Image Modal-->
    <div class="modal" id="preview__image-modal">
      <div class="modal__image-container">
        <button
          class="modal__close"
          id="image-close-modal"
          type="button"
        ></button>
        <img class="modal__image" id="modal-image" src="#" alt="" />
        <h2 class="modal__image-title"></h2>
      </div>
    </div>
    <!--Delete Image Modal-->
    <div class="modal" id="delete-modal">
      <div class="modal__container">
        <button
          class="modal__close"
          id="delete-card-modal"
          type="button"
        ></button>
        <form class="modal__form modal__form_delete">
          <h2 class="modal__heading">Are you sure?</h2>
          <button class="modal__button" type="submit">Yes</button>
        </form>
      </div>
    </div>
    <!--Edit avatar-->
    <div class="modal" id="edit-avatar-modal">
      <div class="modal__container">
        <button class="modal__close" type="button"></button>
        <h2 class="modal__heading">Change profile picture</h2>
        <form class="modal__form" id="edit-avatar-form" name="edit-avatar-form">
          <input
            type="text"
            id="avatar-url"
            class="modal__form-input"
            name="avatar"
            required
          />
          <span class="modal__error" id="avatar-url-error"></span>
          <button class="modal__button" type="submit">Save</button>
        </form>
      </div>
    </div>

    <!--Template-->
    <template id="card-template">
      <li class="card">
        <button
          class="card__trash-button"
          type="button"
          id="card__remove-button"
        ></button>
        <img src="" alt="" class="card__image" />
        <div class="card__description">
          <h2 class="card__title"></h2>
          <button class="card__like-button"></button>
        </div>
      </li>
    </template>
  </body>
</html>
